<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>Vue Training</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="parent" id="app">
        <div class="child">
            <h1>{{firstName}} {{lastName}}</h1>
            <input type="text" v-model="firstName" placeholder="First Name">
            <input type="text" v-model="lastName" placeholder="Last Name">
            <h3>Skill: {{ skill }}</h3>
            <button @click="points += 10">Add Points</button>
            <input type="text"  v-model="points">
        </div>
        <pre class="bottom-left">{{ $data | json }}</pre>
    </div>

    <template id="counter-template">
        <button @click="count += 1">{{subject}}: {{ count }}</button>
    </template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                points: 0,
                firstName: 'David',
                lastName: 'Yurek'
            },
            computed: {
                skill: function() {
                    switch (true) {
                        case (this.points < 100):
                            return 'Beginner';
                        case (this.points < 300):
                            return 'Intermediate';
                    }
                     return 'Advanced';
                },
                fullName: function() {
                    return this.firstName + " " + this.lastName;
                }
            }
        });
    </script>
</body>
</html>